#left-eye {
  animation: eye 5s infinite;
}

#right-eye {
  animation: eye 5s infinite;
}

@keyframes eye {

  0% {
    transform: translate(-10px, 0);
  }

  50% {
    transform: translate(10px, 0);
  }

  100% {
    transform: translate(-10px, 0);
  }
}

#bear:hover #right-ear {
  transition: 3s infinite;
  transform: translate(0, -10px);
}

#bear:hover #left-ear {
  transition: 3s infinite;
  transform: translate(0, -10px);
}
